@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color:255 255 255
}
.main-title{
  font-size: 1.5rem;
  font-weight: bold;
 text-align: center;
}

.section-margin{
  margin: 50px 0;
}

button{
  cursor: pointer;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.block_box{
  display: flex;
  flex-direction: column;
  gap:8px
}






